*{
    font-family: 'Rubik', sans-serif;
}
.container{
    border: 2px solid grey;
    margin: 0 33%;
}

h2{
    margin-left: 2rem;
    font-size: 2rem;
}

.current-location{
    border: 1px solid black;
    margin: 0 2rem;
}
ul{
    padding-left: 1rem;
}
ul li{
    font-weight: 400;
    list-style: none;
    margin: 10px 0;
    font-size: 1.15rem;
}

.lower-container{
    background-color: black;
    color: white;
    margin-top: 2rem;
    padding-bottom: 3rem;
}

.search{
    margin: 0 2rem;
    /* font-size: 2rem; */
}
.search input{
    width: 100%;
    height: 25px;
    font-size: 1rem;
    padding-left: 15px;
    margin-bottom: 15px;
}
.search button{
    width: 7rem;
    height: 29px;
    font-size: 1rem;
}
h3{
    font-size: 2rem;
    padding-top: 2rem;
}
.result p{
    font-size: 2rem;
    font-weight: 600;
    margin: 3rem 2rem;
}

.show-result{
    border: 1px solid white;
    margin: 0 2rem;
}

.move{
    margin-left: 5rem;
}

.err{
    font-size: 1rem;
    font-weight: 100;
    color: red;
}